<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".NibrasApp"
        android:allowBackup="true"
        android:enableOnBackInvokedCallback="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:localeConfig="@xml/locales_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Nibras">

        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.OnboardingActivity"
            android:exported="false" />

        <activity
            android:name=".ui.BookDetailActivity"
            android:exported="false"
            android:parentActivityName=".ui.MainActivity" />

        <activity
            android:name=".ui.ReaderActivity"
            android:exported="false"
            android:parentActivityName=".ui.BookDetailActivity" />

        <activity
            android:name=".ui.SearchActivity"
            android:exported="false"
            android:parentActivityName=".ui.MainActivity"
            android:windowSoftInputMode="adjustResize|stateVisible" />

        <activity
            android:name=".ui.ClassicalLibraryActivity"
            android:exported="false"
            android:parentActivityName=".ui.MainActivity" />

        <activity
            android:name=".ui.AboutActivity"
            android:exported="false"
            android:parentActivityName=".ui.MainActivity" />

        <activity
            android:name=".ui.LicensesActivity"
            android:exported="false"
            android:parentActivityName=".ui.AboutActivity" />
    </application>
</manifest>
